<html>
    <head>
        <link rel="stylesheet" href="../css/chessboard-1.0.0.min.css" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body id="gameHtmlBody">
        <div id="gamebody">
            <label for="blackClock">Clock (black): </label><div id="blackClock"></div>
            <label for="whiteClock">Clock (white): </label><div id="whiteClock"></div>
            <div id="myBoard" style="width: 550px"></div>
            <label>Status:</label>
            <div id="status"></div>
        </div>
        <div id="moves-scrollable">
            <label style="font-weight: bold;">PGN:</label>
            <div id="pgn"></div>
        </div>
        <script>
            let playerColor = '{{color}}';
            console.log('Playing as ' + playerColor);
        </script>


        <script src="../js/jquery-3.7.0.min.js"></script>
        <script src="../js/chessboard-1.0.0.min.js"></script>
        <script src="../js/chess-0.10.3.min.js"></script>
        <!-- <script src="http://localhost:3001/socket.io/socket.io.js"></script> -->
        <script src="http://mars.cse.lehigh.edu:9090/socket.io/socket.io.js"></script>
        <script src="../js/game.js"></script>
    </body>
</html>